.header{ height: 10vh; }
.body{ height: 80vh; }
.footer{ height: 10vh; }
input,select{ min-width: 30vh; min-width: 30vh; }
.w3-card{ margin-bottom: 20px;	margin-right: 10vw;	margin-left: 10vw; }
.tableFixHead {	overflow: scroll;	height: 60vh; }
.tableFixHead thead th { position: sticky; top: 0;	z-index: 1; cursor: pointer; }
.tableFixHead tbody th { position: sticky; left: 0; }
.arrow-up::after{ content: "\02B06"; }
.arrow-dwn::after{ content: "\02B07"; }
